header {
    background-color: linear-gradient(211, 333, 786);


}

header img {
    float: left;
    align-items: left;
    width: 116px;
    height: 116px;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #4ffe83, #39cc93);
    padding: 15px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 1200px;
    text-decoration: none;

}

/*main*/

h1 {
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    text-align: left;
    margin-left: 160px;
}

body {
    background-color: rgb(227, 235, 227);
}

h2 {
    color: darkgreen;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.t1p,
.t2p {
    color: black;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: left;
    margin-right: 900px;
    background-color: #e7ebb1;
    line-height: 1.8;
}

img {
    border-radius: 30%;
    border: 5px solid darkgreen;

    height: 650px;
    align-items: center;

}

.image {
    background-color: rgb(4, 36, 10);
    display: flex;
}

.historic img {
    width: 500px;
    height: 750px;
    justify-content: center;
    margin-left: 80px;
    display: flex;

}

.adventure img {
    width: 500px;
    height: 750px;
    justify-content: center;
    margin-left: 80px;
    display: flex;
}

.culture img {
    width: 500px;
    height: 750px;
    justify-content: center;
    margin-left: 80px;
    display: flex;
}


h3 {
    color: darkgreen;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.testimonials td {
    border: 2px solid green;
    border-radius: 20%;
    background-color: #ddddd5;
    text-align: center;
    height: 300px;
    justify-content: space-between;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    padding: 80px;
    line-height: 1.5;
}

hr {
    border: 5px solid rgb(12, 70, 22);
    border-radius: 5px;
}


/*form*/
fieldset {
    width: 800px;
    height: 400px;
    text-align: center;
    line-height: 2;
    color: darkgreen;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #bcbdb9;
    border: 2px solid darkgreen;

}






/*footer*/

footer h4 {
    color: green;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}

footer h5 {
    color: black;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

footer {
    align-items: center;

    background-color: beige;
    display: flexbox;

    padding: 100px;

}